@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(155, 152, 152);
    /* width: 434px; */
    font-family: "Fira Sans", sans-serif;
    height: 115vh;
    transition: transform 0.3s ease-in ;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.sidebarGo{
    transform: translate(-443px, 0px) ;
    position: absolute;
 }
 


.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
   
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    
}
.meenu{
    margin-top: 9px;
    margin-left: 10px ;

}    


.cross{
    margin-top: 9px;
    margin-left: 185px;
}

.blogitem{
    margin: 20px;
    font-size: 25px;
    font-family: "Fira Sans", sans-serif;
}
.blogcontainer{
    margin-left: 250px;
    margin-top: 40px;
}

.blogcontainer h1{
    font-family: "Jersey 20", sans-serif;  
    margin: 23px; 
   
    font-size: 50px;
    width: 80vw;

}

.blogitem p{
    font-family: "Caveat", cursive;
    font-size: 22px;
}

.btn{
    padding: 9px 15px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 11px;
    margin: 12px 0;
    cursor: pointer;
    
}

.btn:hover{
    background-color: white;
    color: dodgerblue;


}