@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(155, 152, 152);
    /* width: 434px; */
    font-family: "Fira Sans", sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in ;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}
.sidebarGo{
    transform: translate(-443px, 0px) ;
    position: absolute;
 }
 
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    
}
.meenu{
    margin-top: 9px;
    margin-left: 10px ;

}    


.cross{
    margin-top: 9px;
    margin-left: 185px;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: blueviolet; */
    height: 58vh;
    width: 80vw;
    margin: 154px auto;
    /* margin-left: 30px; */
    margin-left: 200px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
}
.devInfo h1{
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 60px;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 20px;
}


.devpic img{
    height: 58vh;
    
}
@media (max-width: 1000px) {
    .devpic{
        display: none;
    }

}